{% extends 'basic.html' %}
{% block body%}
{% load static %}
{% include 'navbar.html' %}
 {% comment %} <!-- Header -->
 {% include 'navbar.html' %}
    <header id="header" class="mt-5">
        <div class="header-content">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col mt-5 text-center">
                      <h2 class="mt-5">Job Opportunities in Government</h2>
                      <div class="row my-5">
                         <div class="col-lg-6 mx-5 border border-info">
                                 <p> Government job list</p>
                            <div class="container text-align-left" id = "Scrollspy" data-offset = "30">

                                {% if a %}
                                    <ul class="nav-stacked">
                                    {% for i in a %}
                                        <li>
                                         <li><a href="{% url 'gjob' i.id %}" class="text-info"> {{ i.gjobheading }} </a></li>
                                        </li>
                                    {% endfor %}
                                
                                    </ul>
                                {% else %}
                                      <p> No Goverment job posted until..</p>
                                {% endif %}
                         </div>
                                
                          
                        </div>
<br><br>
       

                        </div>
                    </div>
                  
                </div>
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header --> {% endcomment %}


    <div class="basic-1 mt-5" id="request">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 border ">
        <p> Job details...</p>
                                    <div class="container text-align-left" id = "Scrollspy" data-offset = "30">
          {% if a %}
            <ul class="nav-stacked">
              {% for i in a %}
                <li>
                <a href="{% url 'gjob' i.id %}">{{ i.gjobheading }}</a>
                </li>
              {% endfor %}
          
            </ul>
          {% else %}
          <p> No job details posted  until..</p>
          {% endif %}
        </div>
        <h5 class="text-secondary">Important News..</h5>
        <p>UKPSC Lecturer Vacancy 2020 Public Service Commission Recruitment Shared By: Govt Job Portal   Public Service Commission recruitment department of Uttarakhand Government is going to recruit fresher candidates for Lecturer..</p>
        </div>
    


            <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/details-1-office-worker.svg' %}" alt="alternative">
                </div>
                <!-- end of image-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>


{% include 'footer.html' %}
{% endblock body %}